{% load static %}

<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Secretos Ocultos - Recupera tu contraseña </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/iconblanco.png' %}">


    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'css/form-reset.css' %}">

</head>

<body>
    <!-- preloader -->
    <div id="preloader">
        <div class="preloader">
            <span></span>
            <span></span>
        </div>
    </div>
    <!-- preloader end  -->
    <header id="top-menu">
        <a href="{% url 'home' %}" class="logo"></a>
    </header>

    <div class="wrapper"> 
        <div class="signup-box"> 

            <div class="signup-header"> 
                <span>Resetea tu contraseña</span>
            </div> 
            <form method="POST"> 

                <div class="Titulo">
                    <span>Ingresa tu email para resetear tu contraseña. Te enviaremos un link para resetearlo.</span>
                </div>

                <div class="input-box"> 
                    <input type="email" id="email" class="input-field" placeholder=""> 
                    <label for="email" class="label">Email</label> 
                </div> 
                
            <div class="input-box"> 
                <input type="submit" class="input-submit" value="Resetear"> 
            </div> 
            </form> 
        </div> 
    </div>

</body>
</html>